@media(max-width: 1140px) {
    .container {
        width: 100%;
        min-width: 320px;
        max-width: 1290px;
        margin: 0 auto;
        padding: 0 2em;

    }
}


@media(max-width: 768px) {
    .container {
        width: 100%;
        min-width: 320px;
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 1em;

    }
}

.desk-background--mobile {
    background: url(../images/content/desk-back.png) no-repeat -10% 90%;
    bottom: -20px;
    position: absolute;
    width: 1170px;
    left: 0;
    display: block;
    height: 294px;
    z-index: 80;
    background-size: 500px;
}


/* offer-card-mobile */

.mobile-layer {
    display: none;
    max-width: 425px;
    height: 100vh;
    width: 100%;
    margin: 0 auto;

}

.offer-card-mobile__list {
    position: relative;
}

.offer-card-mobile__item {
    box-sizing: border-box;
    position: relative;
    display: flex;
    min-height: 120px;
    max-height: 120px;
    border: 1px solid #868686;
    padding: 10px 5px;
    margin-bottom: 5px;
    border-radius: 3px;
}

/* mobile-properties */

.offer-card-mobile__properties {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
    max-height: 100px;
    overflow: hidden;
}

.mobile-properties__manufactor {
    min-height: 19px;
    font-size: 14px;
}

.mobile-properties__offer-code {
    min-height: 19px;
    font-size: 14px;
}

.mobile-properties__replacement {
    min-height: 19px;
    font-size: 12px;
}

.mobile-properties__quality {
    min-height: 19px;
    font-size: 13px;
}

/* mobile-description */
.offer-card-mobile__description {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-content: space-between;
    min-height: 61px;
    max-height: 61px;
    overflow: hidden;
    margin-bottom: -2px;

}

.mobile-description__delivery {
    min-height: 21px;
    font-size: 14px;
    padding-left: 10px;
}

.mobile-description__quantity {
    min-height: 19px;
    font-size: 14px;
    padding-left: 10px;
}


/* mobile-buy */

.offer-card-mobile__buy {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
    max-height: 100px;
    overflow: hidden;
}

.mobile-buy__price {
    min-height: 19px;
    font-size: 14px;
    text-align: right;
}

.mobile-buy__btn {
    min-height: 19px;

}

.offer-card-mobile__list-title {
    display: flex;
    color: #555;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 2px solid #ffa200;
    text-align: left;
    padding: 10px 10px;
    padding-bottom: 2px;
    margin-bottom: 10px;
}

.pagePreloader {
    display: grid;
    align-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 110%;
    background-color: #fff;
    z-index: 999999;
    overflow-y: hidden !important;
    margin-top: -70px;
}

.pagePreloader__wrapper {
    margin: 0 auto;
}

.pagePreloader__text {
    display: flex;
    font-size: 18px;
    line-height: 20px;
    color: #160f0f;
    text-transform: uppercase;
    padding-left: 23px;
    padding-top: 15px;
}

.pagePreloader__dots {
    font-size: 7px;
    position: relative;
    width: 4em;
    height: 1em;
    margin-top: 13px;
    margin-left: 7px;
}

.pagePreloader__dots .pagePreloader__dot {
    width: 4px;
    height: 4px;
    border-radius: 50px;
    background: #7a7a7a;
    position: absolute;
    -webkit-animation: fade 2s ease infinite;
    animation: fade 2s ease infinite;
    opacity: 0;
}

.pagePreloader__dots .pagePreloader__dot:nth-child(1) {
    left: 0;
}

.pagePreloader__dots .pagePreloader__dot:nth-child(2) {
    left: 1.3em;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.pagePreloader__dots .pagePreloader__dot:nth-child(3) {
    left: 2.6em;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


html,
body {
    max-width: 100%;
    margin: 0;
}

.body-scroll-on {
    overflow-y: visible !important;
}

@media(max-width: 950px) {
    body {
        overflow-y: hidden;
        display: none;
    }

    .online-chat-root-Verbox {
        display: none !important;
    }
}


.scroll-up {
    position: fixed;
    right: 20px;
    bottom: 50px;
    z-index: 1000;
    width: 70px;
    height: 70px;
    color: #a4a1a4;
    cursor: pointer;
    visibility: hidden;
    border-radius: 50px;

    -webkit-box-shadow: inset 0 0 0 4px #dcdcdc;
    box-shadow: inset 0 0 0 4px #dcdcdc;
    opacity: 0;

    -webkit-transition: 0.4s;
    transition: 0.4s;

    -webkit-transform: translateY(25px);
    transform: translateY(25px);

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.scroll-up--active {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
}

.scroll-up::before {
    position: absolute;
    top: 0;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    color: #f8740f;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 35px;
    font-weight: bold;
    content: "↑";
}

.scroll-up:hover {
    color: #f8740f;
}

.scroll-up__svg-path {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    fill: none;
    stroke: #f8740f;
    stroke-width: 4px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

@media (min-width: 1140px) {
    .scroll-up::before {
        top: -4px;
    }
}

html,
button,
input,
select,
textarea {
  scroll-behavior: smooth !important; 
}

.widget-call-btn{
    display: grid;
    align-items: center;
    position: fixed;
    left: -10px;
    bottom: 50px;
    z-index: 1000;
    width: 35px;
    height: 70px;
    background: #F67B1E;
    cursor: pointer;
    visibility: visible;
    border-radius: 10px;
    text-align: center;
    padding-left: 5px;
    font-size: 55px;
    color: #fff;
    font-weight: bold;
}