
@media(max-width: 1140px) {
    .container{
        width: 100%;
        min-width: 320px;
        max-width: 1290px;
        margin: 0 auto;
        padding: 0 2em;

    }
}


@media(max-width: 768px) {
    .container{
        width: 100%;
        min-width: 320px;
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 1em;

    }
}

.desk-background--mobile{
    background: url(../images/content/desk-back.png) no-repeat -10% 90%;
    bottom: -20px;
    position: absolute;
    width: 1170px;
    left: 0;
    display: block;
    height: 294px;
    z-index: 80;
    background-size: 500px;
}

html {
  scroll-behavior: smooth; 
}




/* offer-card-mobile */

.mobile-layer{
    max-width: 425px;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    border: 3px solid blue;

}

.offer-card-mobile__list{
    position: relative;
}

.offer-card-mobile__item{
    box-sizing: border-box;
    position: relative;
    display: flex;
    min-height: 120px;
    max-height: 120px;
    border: 1px solid blue;
    padding: 10px 5px;
}
/* mobile-properties */

.offer-card-mobile__properties{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
    max-height: 100px;
    overflow: hidden;
}

.mobile-properties__manufactor{
    min-height: 19px;
    border: 1px solid #000;
}

.mobile-properties__offer-code{
    min-height: 19px;
    border: 1px solid #0a0b5c;
}

.mobile-properties__replacement{
    min-height: 19px;
    border: 1px solid #000;
}

.mobile-properties__quality{
    min-height: 19px;
    border: 1px solid #054d1d;
}

/* mobile-description */
.offer-card-mobile__description{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-content: space-between;
    min-height: 61px;
    max-height: 61px;
    overflow: hidden;
    margin-bottom: -2px;

}

.mobile-description__delivery{
    min-height: 19px;
    border: 1px solid #28bd59;
}

.mobile-description__quantity{
    min-height: 19px;
    border: 1px solid #b91010;
}


/* mobile-buy */

.offer-card-mobile__buy{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
    max-height: 100px;
    overflow: hidden;
}

.mobile-buy__price{
    min-height: 19px;
    border: 1px solid #0b60cf;
}

.mobile-buy__btn{
    min-height: 19px;
    border: 1px solid #3e14af;
}