
@media(max-width: 1140px) {
    .container{
        width: 100%;
        min-width: 320px;
        max-width: 1290px;
        margin: 0 auto;
        padding: 0 2em;

    }
}


@media(max-width: 768px) {
    .container{
        width: 100%;
        min-width: 320px;
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 1em;

    }
}

.desk-background--mobile{
    background: url(../images/content/desk-back.png) no-repeat -10% 90%;
    bottom: -20px;
    position: absolute;
    width: 1170px;
    left: 0;
    display: block;
    height: 294px;
    z-index: 80;
    background-size: 500px;
}

html {
  scroll-behavior: smooth; 
}

body{
    margin: 0;
}



/* offer-card-mobile */

.mobile-layer{
    display: none;
    max-width: 425px;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    border: 1px solid blue;

}

.offer-card-mobile__list{
    position: relative;
}

.offer-card-mobile__item{
    box-sizing: border-box;
    position: relative;
    display: flex;
    min-height: 120px;
    max-height: 120px;
    border: 1px solid #868686;
    padding: 10px 5px;
    margin-bottom: 5px;
    border-radius: 3px;
}
/* mobile-properties */

.offer-card-mobile__properties{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
    max-height: 100px;
    overflow: hidden;
}

.mobile-properties__manufactor{
    min-height: 19px;
    font-size: 14px;
}

.mobile-properties__offer-code{
    min-height: 19px;
    font-size: 14px;
}

.mobile-properties__replacement{
    min-height: 19px;
    font-size: 12px;
}

.mobile-properties__quality{
    min-height: 19px;
    font-size: 13px;
}

/* mobile-description */
.offer-card-mobile__description{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-content: space-between;
    min-height: 61px;
    max-height: 61px;
    overflow: hidden;
    margin-bottom: -2px;

}

.mobile-description__delivery{
    min-height: 21px;
    font-size: 14px;
    padding-left: 10px;
}

.mobile-description__quantity{
    min-height: 19px;
    font-size: 14px;
    padding-left: 10px;
}


/* mobile-buy */

.offer-card-mobile__buy{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
    max-height: 100px;
    overflow: hidden;
}

.mobile-buy__price{
    min-height: 19px;
    font-size: 14px;
    text-align: right;
}

.mobile-buy__btn{
    min-height: 19px;
    
}

.offer-card-mobile__list-title{
    display: flex;
    color: #555;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 2px solid #ffa200;
    text-align: left;
    padding: 10px 10px;
    padding-bottom: 2px;
    margin-bottom: 10px;
}

.pagePreloader{
    display: grid;
    align-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: #fff;
    z-index: 999999;
}

.pagePreloader__wrapper{
    margin: 0 auto;
}

.pagePreloader__text{
    font-size: 18px;
    line-height: 20px;
    color: #959090;
    text-transform: uppercase;
    padding-left: 23px;
}

@media(max-width: 950px){
    body{
        visibility: hidden;
    }

    .online-chat-root-Verbox{
        display: none !important;
    }
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}